*.o
*.a
*.so
*.out
.DS_Store
.env
.env.local.test
.idea/
.vscode/
.vscode-root/
node_modules/
public/
godobin*
smsl-api
smsl-backend
smsl-enviar
smsl-worker
!cmd/**

.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

AdminLTE-master/

Global-clinic/

data/postgres

data/rabbitmq

data/

tools/

# Kubernetes binaries
kubectl*
kubectl*

# Docker and deployment artifacts
.docker/
deployments/bin/
deployments/tools/

#Android folder
healthsys/

Postman.app/

healthsys.zip/

Postman for macOS (arm64).zip/

.tokens
*.env
INPUT.md